body{margin:0px;}
h1, h2, h3, h4, h5, h6{margin : 0px;}
a{color:#000000;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul{
    list-style:none;
    margin : 0px;
    padding : 0px;
}

.line{}
.wrap{}

/* Header Line */
#headerLine{
    border-bottom : 2px solid rgb(165, 77, 182);  
    display:flex; justify-content:center;
}
#headerWrap{
    display:flex;
    flex-direction:column;
    margin : 0 auto;
    width:1200px;
    
}


/* Head Line */
#headLine{ margin-bottom : 15px;}

#headWrap{
    display:flex; align-items :center; justify-content : space-between; margin:30px 20px 10px 20px; 

}
#logoWrap{
    width:250px; height:80px; 
    
}
#logo{
    margin:0 auto; width : 90%; 
}
#serachBarWrap{
    display:flex; justify-content:center; align-items : center; width : 45%; height:50px;
    padding :0 5px; background-color: #d5bde0; border-radius:20px;
}
#serachBarWrap img{ width : 22px; margin-left : 5px; }
#searchBar{
    background-color:inherit;
    border: 0px; width:90%; height:80%; 
}
#searchBar:focus{
    outline:none;
}
#userBtnsWrap{
    margin : 10px;
}
#userBtnsWrap ul li a{
    color:#7e7e7e;
}
.userBtnImg{
    width : 15px; margin : 0 5px 0 0;
}
#userBtnsWrap ul li{
    float:left; padding : 5px; margin-right : 10px; width : fit-content; 
    
}
@media (max-width : 600px){
    #headWrap{flex-direction:column; text-align:center;} 
    #serachBarWrap{width: 85%; }
}


/* Category Line */
#cateLine{ }
#cateBtnsWrap{ margin-left : 10px; display:flex; flex-wrap:wrap;}
#cateBtnsWrap li{
    list-style:none; float:left;  margin : 10px;  padding : 10px 25px;    
}
#cateBtnsWrap li a:hover{
    color:#0eb337;
}
@media (max-width : 600px){
    #cateBtnsWrap{justify-content:center;}
}


/*  Body Line   */

#bodyLine{
    display:flex;
}
#mainWrap{
    display:flex;
    flex-direction:column;
    margin : 0 auto;
    width : 80%;
}
@media (min-width:1800px){
    #mainWrap{width:1350px;}
}

@media (max-width:1080px){
    #mainWrap{width:100%;}
    #leftSide{display:none;}
    #rightSide{display:none;}
}


/* footerLine */
#footer{
    background-color: #83329e;
    height: 300px;
}





/*  shoppingCart.css    */