<div id="menuLine" class="menuHidden">
    <ul id="menuWrap">
        <li class="mainList">성분</li>
        <ul class="subList">
            <a href="/admin/ingredientAdd" class="subListAnchor"><li>성분 등록</li></a>
            <a href="/admin/ingredientView"  class="subListAnchor"><li>성분 관리</li></a>
        </ul>
        <li class="mainList">주문</li>
        <ul class="subList">
            <a href="#a"  class="subListAnchor"><li>전체주문목록</li></a>
            <a href="#a"  class="subListAnchor"><li>배송관리</li></a>
            <a href="#a"  class="subListAnchor"><li>취소/교환/반품/환불</li></a>
        </ul>
        <li class="mainList">판매자</li>
        <ul class="subList">
            <a href="#a"  class="subListAnchor"><li>판매자 관리</li></a>
            <a href="#a"  class="subListAnchor"><li>판매자 승인</li></a>
        </ul>
        <li class="mainList">고객</li>
        <ul class="subList">
            <a href="#a"  class="subListAnchor"><li>고객 관리</li></a>
        </ul>
        <li class="mainList">게시판</li>
        <ul class="subList">
            <a href="#a"  class="subListAnchor"><li>게시판 설정</li></a>
            <a href="#a"  class="subListAnchor"><li>게시물 관리</li></a>
        </ul>
        <li>프로모션</li>
        <li>통계분석</li>
        <li>기타</li>
    </ul>
</div>  <!-- menuLine -->