
<div id="headerLine">
    <div id="headerWrap">
        <span id="menuBtn"><img src="img/menu.png" /></span>
        <div id="logoImgWrap">
            <a href="/"><img id="logoImg" src="img/Salady_logo.png" /></a>
        </div>
        <a href="manage.html"><div id="headerText">관리페이지(판매자)</div></a>
    </div>
    <div id="headerListWrap">
        <ul id="headerList">
            <a href="#1"><li>리스트1</li></a>
            <a href="#2"><li>리스트2</li></a>
        </ul>
    </div>      
</div>      <!-- headerLine -->

<div id="menuLine" class="menuHidden">
    <ul id="menuWrap">
        <li class="mainList">상품관리</li>
        <ul class="subList">
            <a href="/view/productAdd" class="subListAnchor"><li>상품등록</li></a>
            <a href="#a"  class="subListAnchor"><li>상품목록</li></a>
        </ul>
        <li class="mainList">주문관리</li>
        <ul class="subList">
            <a href="#a"  class="subListAnchor"><li>전체주문목록</li></a>
            <a href="#a"  class="subListAnchor"><li>배송관리</li></a>
            <a href="#a"  class="subListAnchor"><li>취소/교환/반품/환불</li></a>
        </ul>
        <li>고객관리</li>
        <li class="mainList">게시판관리</li>
        <ul class="subList">
            <a href="#a"  class="subListAnchor"><li>게시판 설정</li></a>
            <a href="#a"  class="subListAnchor"><li>게시물 관리</li></a>
        </ul>
        <li>프로모션</li>
        <li>통계분석</li>
        <li>기타</li>
    </ul>
</div>  <!-- menuLine -->