 
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        
        <title>Salady</title>
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        
        <style>
            h2{
                
            }
        </style>

    </head>
    <body>
        <%- include template/header.ejs %>

        <div id="bodyLine">

            <div id="leftSide">
                    왼쪽 사이드
                </div>  <!-- left Side-->
                
                
                <div id="mainWrap">
                
                <h2>요청하신 페이지는 존재하지 않습니다.</h2>
                
                </div>  <!-- mainWrap -->
                
                
                <div id="rightSide">
                    오른쪽사이드
                </div>  <!-- right Side-->
                    
        </div>     <!-- Body Line -->

        <%- include template/footer.ejs %>

        
        <script type="text/javascript" src="js/home.js"></script>
    </body>
</html>