 
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        
        <title>Salady</title>
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/home.css" />
        
        <style>



        </style>

    </head>
    <body>
        <%- include template/header.ejs %>

        <div id="bodyLine">

            <div id="leftSide">
                    왼쪽 사이드
                </div>  <!-- left Side-->
                
                
                <div id="mainWrap">
                
                    <div id="evtLine" class="line">
                        <div id="evtWrap" class="wrap">
                            <div id="evtBanner">
                                <a href="#testBanner">        
                                    <div id="evtBannerText">click!<br/>무료 검진 후 나만의 추천제품을 확인하세요!</div>
                                    <img src="img/stethoscope.png" />
                                </a>
                            </div>
                            <div id="evtSlide">
                                <span>
                                    <a href="#1">
                                        <img class="slideItem" src="https://picsum.photos/285" />
                                    </a>
                                </span>
                                <span>
                                    <a href="#2">
                                        <img class="slideItem" src="https://picsum.photos/205" />
                                    </a>
                                </span>
                                <span>
                                    <a href="#3">
                                        <img class="slideItem" src="https://picsum.photos/361" />
                                    </a>
                                </span>
                                <a class="slideBtn" id="slideBtnPrev" ><img src="img/left_arrow.png" /></a>
                                <a class="slideBtn" id="slideBtnNext" ><img src="img/right_arrow.png" /></a>
                                <div id="evtSlideNavs">
                                    <span class="evtSlideNav"></span>
                                    <span class="evtSlideNav"></span>
                                    <span class="evtSlideNav"></span>
                                </div>
                            </div>
                        
                        </div>
                    </div>  <!-- eventLine -->
                
                
                    <div id="productLine" class="line">
                        <div id="productWrap" class="wrap">
                            <div id="productLineText">BEST 추천 제품</div>
                            <div id="productTypeList">
                                <div id="typeItemWrap">
                                    <a class="typeItem ti-inactive">비타민B</a>
                                    <a class="typeItem ti-inactive">비타민C</a>
                                    <a class="typeItem ti-inactive">칼슘</a>
                                    <a class="typeItem ti-inactive">공액리놀레산</a>
                                    <a class="typeItem ti-inactive">유산균</a>
                                    <a class="typeItem ti-active">프로바이오틱스</a>
                                    <a class="typeItem ti-inactive">홍삼</a>
                                    <a class="typeItem ti-inactive">콜라겐</a>
                                    <a class="typeItem ti-inactive">단백질</a>
                                    <a class="typeItem ti-inactive">쏘팔메토</a>
                                    <a class="typeItem ti-inactive">가르시니아</a>
                                    <a class="typeItem ti-inactive">바이오틴</a>
                                    <a class="typeItem ti-inactive">홍경천</a>
                                    <a class="typeItem ti-inactive">미네랄</a>
                                    <a class="typeItem ti-inactive">프로폴리스</a>
                                    <a class="typeItem ti-inactive">발효제품</a>
                                </div>
                            </div>
                            <div id="productListWrap"> 
                                <div id="productList">
                                    <ul id="bestItemWrap">
                                        <li class="bestItem">
                                            <img src="https://picsum.photos/527" />
                                            <div class="productName">제품이름</div>
                                            <div class="productText">제품설명제품설명제품설명제품설명제품설명제품</div>
                                            <div class="productPrice">58,000</div>
                                        </li>
                                        <li class="bestItem">
                                            <img src="https://picsum.photos/125" />
                                            <div class="productName">제품이름</div>
                                            <div class="productText">제품설명제품설명제품설명제품설명제품설명제품</div>
                                            <div class="productPrice">58,000</div>
                                        </li>
                                        <li class="bestItem">
                                            <img src="https://picsum.photos/622" />
                                            <div class="productName">제품이름</div>
                                            <div class="productText">제품설명제품설명제품설명제품설명제품설명제품</div>
                                            <div class="productPrice">58,000</div>
                                        </li>
                                        <li class="bestItem">
                                            <img src="https://picsum.photos/111" />
                                            <div class="productName">제품이름</div>
                                            <div class="productText">제품설명제품설명제품설명제품설명제품설명제품</div>
                                            <div class="productPrice">58,000</div>
                                        </li>
                                        <li class="bestItem">
                                            <img src="https://picsum.photos/755" />
                                            <div class="productName">제품이름</div>
                                            <div class="productText">제품설명제품설명제품설명제품설명제품설명제품</div>
                                            <div class="productPrice">58,000</div>
                                        </li>
                                        <li class="bestItem">
                                            <img src="https://picsum.photos/436" />
                                            <div class="productName">제품이름</div>
                                            <div class="productText">제품설명제품설명제품설명제품설명제품설명제품</div>
                                            <div class="productPrice">58,000</div>
                                        </li>
                                        <li class="bestItem">
                                            <img src="https://picsum.photos/858" />
                                            <div class="productName">제품이름</div>
                                            <div class="productText">제품설명제품설명제품설명제품설명제품설명제품</div>
                                            <div class="productPrice">58,000</div>
                                        </li>
                                        <li class="bestItem">
                                            <img src="https://picsum.photos/490" />
                                            <div class="productName">제품이름</div>
                                            <div class="productText">제품설명제품설명제품설명제품설명제품설명제품</div>
                                            <div class="productPrice">58,000</div>
                                        </li>
                                    </ul>
                                </div>  <!-- productList -->
                                <a id="plPrevBtn" class="productBtn" ><img src="img/left_arrow.png" /></a>
                                <a id="plNextBtn" class="productBtn" ><img src="img/right_arrow.png" /></a>
                            </div>      <!-- productListWrap -->
                        </div>  <!-- productWrap -->
                    </div>  <!-- productLine -->
                
                
                    <div id="brandLine" class="line">
                        <div id="brandLineText">브랜드</div>
                        <div id="brandWrap" class="wrap">
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                            <img src="https://via.placeholder.com/605" class="brand" />
                        </div>
                    </div>  <!-- brandLine -->
                
                
                </div>  <!-- mainWrap -->
                
                
                <div id="rightSide">
                    오른쪽사이드
                </div>  <!-- right Side-->
                    
        </div>     <!-- Body Line -->

        <%- include template/footer.ejs %>

        
        <script type="text/javascript" src="js/home.js"></script>
    </body>
</html>