<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/body.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet"  href="/css/join/joinMember.css" />
    
    <title>회원가입</title>

</head>
<body>

   <%- include template/header.ejs %>


    <div id="bodyLine">


        <div id="mainWrap">
            <div id="joinContainer">
                <div id="joinHeadText">회원가입 </div>
                <form id="joinForm" action="/api/join/account" method="POST">
                    <table id="joinTable">
                        <tbody id="">
                            <tr><th colspan="2">계정정보</th></tr>
                            <tr>
                                <th>
                                    <label for="idInput">아이디 </label>
                                </th>
                                <td>
                                    <input class="textInput" id="idInput" name="id" type="text" />
                                    <div id="idInputMsg" class="inputMsg"></div>
                                </td>
                            </tr>
            
                            <tr>
                                <th>
                                    <label for="pwInput">비밀번호 </label>
                                </th>
                                <td>
                                    <input class="textInput" id="pwInput" name="pw" type="password" maxlength="30"/>
                                    <div id="pwInputMsg" class="inputMsg">최대 30글자</div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="pwChkInput">비밀번호 확인</label>
                                </th>
                                <td>
                                    <input class="textInput" id="pwChkInput" type="password" />
                                    <div id="pwChkInputMsg" class="inputMsg"></div>
                                </td>
                            </tr>
                            <tr><th colspan="2">개인정보</th></tr>
                            <tr>
                                <th>
                                    <label for="nameInput">이름</label>
                                </th>
                                <td>
                                    <input class="textInput" name="name" id="nameInput" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="birthInput">주민번호 앞자리</label>
                                </th>
                                <td>
                                    <input class="textInput" name="birth" id="birthInput" type="text" maxlength="6"/>
                                    <div id="birthInputMsg" class="inputMsg"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="genderInput">성별</label>
                                </th>
                                <td>
                                    <input id="manInput" type="radio" name="gender" value="man"/>
                                    <label for="manInput">남</label>
                                    <input id="womanInput" type="radio" name="gender" value="woman" checked/>
                                    <label for="womanInput">여</label>
                                </td>
                            </tr>
                    
                            
                        </tbody>
                    </table>
                    <div>
                        <input type="submit" id="joinBtn" value="가입하기"/>
                        <div id="submitBtnMsg" class="inputMsg"></div>
                    </div>
                </form>
        
            </div>
            

        </div>  <!-- mainWrap -->



    </div>     <!-- Body Line -->


    <%- include template/footer.ejs %>
        
    <script type="text/javascript" src="/js/join/joinMember.js"></script>
    
</body>
</html>