<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/manage.css" />
    <title>관리자 페이지</title>

</head>
<body>

    <div id="headerLine">
        <div id="headerWrap">
            <span id="menuBtn"><img src="img/menu.png" /></span>
            <div id="logoImgWrap">
                <a href="index.html"><img id="logoImg" src="img/Salady_logo.png" /></a>
            </div>
            <a href="manage.html"><div id="headerText">관리페이지(판매자)</div></a>
        </div>
        <div id="headerListWrap">
            <ul id="headerList">
                <a href="#1"><li>리스트1</li></a>
                <a href="#2"><li>리스트2</li></a>
            </ul>
        </div>      
    </div>      <!-- headerLine -->
 
    <div id="menuLine" class="">
        <ul id="menuWrap">
            <li class="mainList">상품관리</li>
            <ul class="subList">
                <a href="#a"><li>상품등록</li></a>
                <a href="#a"><li>상품목록</li></a>
            </ul>
            <li class="mainList">주문관리</li>
            <ul class="subList">
                <a href="#a"><li>전체주문목록</li></a>
                <a href="#a"><li>배송관리</li></a>
                <a href="#a"><li>취소/교환/반품/환불</li></a>
            </ul>
            <li>고객관리</li>
            <li class="mainList">게시판관리</li>
            <ul class="subList">
                <a href="#a"><li>게시판 설정</li></a>
                <a href="#a"><li>게시물 관리</li></a>
            </ul>
            <li>프로모션</li>
            <li>통계분석</li>
            <li>기타</li>
        </ul>
    </div>  <!-- menuLine -->



    <div id="contentContainer">
       <div>
           <div>상품목록</div>
       </div>
       <div>
           <table>
               <thead>
                   <th><input type="checkbox" /></th>
                   <th>상품명</th>
                   <th>판매가</th>
                   <th>판매여부</th>
                   <th>상품분류</th>
                   <th>상품 등록일</th>

               </thead>
               <tbody>
                    <tr>

                    </tr>
                    <tr>

                    </tr>
                    <tr>

                    </tr>
               </tbody>
           </table>
       </div>
    </div>

    <script>
        const mainList = document.querySelectorAll(".mainList");
        mainList.forEach(item=>{
            item.addEventListener("click", ()=>{
                item.nextElementSibling.classList.toggle("subListActive");
            });
        });

        const menuBtn = document.getElementById("menuBtn");
        menuBtn.addEventListener("click", ()=>{
            let menuLine = document.getElementById("menuLine");
            menuLine.classList.toggle("menuHidden");
        })
    </script>
</body>
</html>