/* productDetail.css */


/* Product Info Category */

#prdInfoCateContainer{
    display:flex; justify-content: center;
}
#prdDetailWrap{
    display:flex; width:100%; justify-content: center;;
}
#prdImgWrap{
    display:flex; justify-content:center; width : 43%; padding : 60px 40px; 
}
#prdImg{
    width:100%; max-height : 550px;
}
#infoContainer{
    margin : 30px 40px; width : 57%;
}
#prdMainInfo{
    padding : 5px 30px;
}
.infoWrap{
    border-top : 1px solid #018107; margin : 15px 10px; 
}
.infoText{
    color: #018107; font-weight:bold; padding : 10px;
}
.prdDetailInfo{
    margin : 10px;
}
.prdDetailInfo th{width :100px; }
.prdDetailInfo th, .prdDetailInfo td{
    padding : 15px;
}
.detailInfoHead{
    margin : 0 40px 0 20px;
}
#purchaseInfo{
    margin : 10px;  padding : 5px 30px;
}

@media (max-width : 800px){
    #prdDetailWrap{flex-direction: column; align-items: center;}
    #prdImgWrap{ width:70%; }
    #infoContainer{ width : 100%; }
}
/*  product info  */
#prdId{ color:#868686; position:absolute; right:0px; top : -20px;}
#prdTitle{font-size : 25px;}
#prdPrice{font-size : 19px; color:#06810d; font-weight:bold; margin : 5px;}
#ingrInfo{ position:relative; }
.ingr{ padding : 5px; margin : 5px; background-color:#db6403; border-radius:20px; color:white;}
#ingrInfoBox{ max-width:500px; margin-top : 10px; position:absolute; padding : 15px 10px;  border:1px solid #db6403; background-color:white;    }
.infoBoxHide { display:none; }
.ingrInfoText {display:none; }


/* Product Page Category */
#infoCateLine{
    background-color:#d4c5e6;
    margin : 30px 0;
}
#infoCateWrap{
    display:flex; 
}
#infoCateWrap li{
    padding : 15px 30px; 
}
.infoCateTarget{
    background-color:white;
    border-left:1px solid #886faa; border-top:1px solid #886faa; border-right:1px solid #886faa;
}


/* product detail info category */

#prdDetailCateContainer{
    display:flex; justify-content:center;
}
.detailCateTable{
    width : 80%;
    border-collapse:collapse;
    border:1px solid #5a5a5a;
    
}
.detailCateTable tbody th, .detailCateTable tbody td{
    border:1px solid #5a5a5a;
    padding : 10px 15px;
}
.detailCateTable tbody th{
    background-color:#d3d3d3;
}
.detailCateTable tbody td{
}


/* product review cateogry */ 

#prdReviewContainer{
    display: flex; justify-content: center;
}
#reviewLineWrap{
    display:flex; align-items:center; flex-direction: column;
    max-width : 1200px;
}
#reviewTitleLine{
    display:flex; position:relative; width :100%;    margin : 20px 0; 
}
#reviewLineTitle{
    font-size:24px;
}
#reviewWriteBtn{
    position:absolute; right:0; width : 100px; margin : 10px; padding: 10px; background-color:#1d3b63; color:white;
    cursor:pointer; text-align:center;
}
#reviewItemWrap{
    margin : 40px 0;          
}
.reviewItem{
    display:flex; position:relative;  flex-direction:column;  padding : 20px;
    border: 1px solid #a5a4a4;  margin : 20px; 
}
.reviewWrap{
    display:flex; position:relative;    margin : 10px;
}
.reviewerInfoLine{
    position:absolute; right:10px; bottom : 10px;
}
.reviewImgWrap{
    margin : 10px 20px 10px 10px; 
}

/* review page number button */
#reviewNumLine{

}
#reviewNumBtnWrap{
    display:flex; 
}
#reviewNumWrap{
    margin : auto 0;
}
.reviewPageBtn{
    cursor:pointer; margin : 8px; padding : 5px; background-color: #ececec;
}
.reviewPageBtnActive{
    background-color: #e26969;
}



/* product QnA Category */
#prdPQnACateContainer{
    display:flex; justify-content:center;   margin : 40px;
}
#prdQnACateWrap{
    display:flex; align-items:center; flex-direction: column;
    width : 1200px;
}
#prdQnACateTextWrap{
    width : 100%; position:relative; margin :20px 10px; 
}
#prdQnACateTitle{
    font-size : 25px;
}
#prdQnACateBtn{
    position:absolute; right:10px; top:0; padding : 10px 20px; background-color:#008528;  color:white; cursor:pointer;
}


/* product QnA Table */
#prdQnATableWrap{
    width : 100%;margin : 40px 20px;
}
#prdQnATable{
    width : 100%; 
    border-collapse: collapse;
}
#prdQnATable thead{
    background-color:#dfdfdf;
}
#prdQnATable thead th{
    padding: 8px 15px; text-align:center;
    
}
#prdQnATable tbody tr{
    border-bottom:1px solid #979797;
    
}
#prdQnATable td{
    padding : 15px; text-align: center;
}
.qnaTitle{
    width : 50%; text-align:left;
}
.qnaResultIng{
    color:#abacad;
}
.qnaResultDone{
    color:#0033a0;
}

/* QnA page Num Buttons */

#qnaNumLine{
}
#qnaNumBtnWrap{
    display:flex; 
}
#qnaNumWrap{
    margin : auto 0;
}
.qnaPageBtn{
    cursor:pointer; margin : 8px; padding : 5px; background-color: #ececec;
}
.qnaPageBtnActive{
    background-color: #e26969;
}






#prdPSellerInfoContainer{
    display:flex; justify-content:center;
}